@import '../../variables.css';

.FiltersPreview {
  padding: 0 calc(var(--baseline) * 1.5);

  &__title {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: calc(var(--baseline) * 4);

    color: color(var(--color__greyD) blackness(+10%));
  }

  &__empty {
    font-size: 0.750rem;
    font-style: italic;

    color: var(--color__greyM);
  }
}
