@import '../../variables.css';

.ResolutionPicker {
  /**/

  &__header {
    /**/
  }

  &__body {
    padding:  calc(var(--baseline) * 1.5)
              calc(var(--baseline) * 1.5);
  }

  &__name {
    width: calc(var(--baseline) * 5);
    text-align: right;
  }
}
