@import '../../variables.css';

.sidebar-query {
  width: 100%;
  padding: 0 calc(var(--baseline) / 2);
  display: flex;
  align-items: center;

  opacity: 0.2;

  &__body {
    cursor: pointer;
  }

  &__actions {
    min-width: 3rem;
  }

  &__action {
    display: none;
  }

  &__query {
    color: var(--color__greyD);
  }

  &__timestamp {
    width: 4rem;

    font-size: 0.750rem;

    text-align: right;
    color: var(--color__greyM);

    white-space: nowrap;
  }

  &__counter {
    width: 2.5rem;
    height: 100%;
    min-height: 2.25rem;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.750rem;

    border-left: 5px solid transparent;
  }

  &:hover {
    background: color(var(--color__greyL) alpha(-90%));
  }
}
  .sidebar-query--selected {
    opacity: 1;

    & .sidebar-query__counter {
      border-left: 5px solid var(--color__teal);
      border-right: 1px solid var(--color__greyL);
    }

    &:hover {
      /**/

      & .sidebar-query__action {
        display: block;
      }
    }
  }
