@import '../../variables.css';

.collection-image {
  position: relative;
  height: 100%;
  padding: calc(var(--baseline) * 1);

  &:hover {
    & .ci-image__delete {
      display: block;
    }
  }
}
  .collection-image--selected {
    &:after {
      position: absolute;
      content: '';
      width: 1rem; height: 1rem;

      transform: rotateZ(45deg);

      bottom: -0.75rem;
      left: 50%;
      margin-left: -0.5rem;

      background: var(--color__greyD);
    }
  }

.ci-image {
  cursor: pointer;
  position: relative;

  &__thumb {
    overflow: hidden;
    max-height: 10rem;

    & img {
      display: block;
      max-width: 100%;
    }
  }

  &__delete {
    display: none;

    cursor: pointer;

    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 1rem;
    height: 1rem;

    border: none;
    border-radius: 1px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
