@import '../../variables.css';

.SelectedImageView {
  padding:  calc(var(--baseline) * 4)
            calc(var(--baseline) * 2);
  min-height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  background: var(--color__greyDD);

  &__body {
    display: block;
  }

  &__image {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }

  &__title {
    width: calc(var(--baseline) * 8);
    text-align: right;
    color: color(white alpha(-20%));
  }

  &__attr {
    color: white;
  }
    &__attr--link {
      text-decoration: underline;

      transition-property: color;
      transition-duration: 0.2s;

      &:hover {
        text-decoration: none;
        color: color(white alpha(-10%));
      }
    }
}
