@import '../../variables.css';

.icon {
  display: block;
  width: calc(var(--baseline) * 2);
  height: calc(var(--baseline) * 2);

  background-position: center center;
  background-repeat: no-repeat;
}
  .icon--small {
    width: calc(var(--baseline) * 1);
    height: calc(var(--baseline) * 1);
  }
