@import '../../variables.css';

.collection-timestamp {
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0; bottom: 50%;
    left: 0; right: 0;

    border-bottom: 1px solid var(--color__greyL);
  }

  &__date {
    display: inline-block;
    padding-right: calc(var(--baseline) * 1);
    position: relative;
    z-index: 2;

    font-size: 0.750rem;

    color: var(--color__greyL);

    background: white;
  }
}
