@import '../../variables.css';

.sidebar-timestamp {
  width: 100%;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    z-index: 1;
    top: 0; bottom: 50%;
    left: 0; right: 0;

    border-bottom: 1px solid color(var(--color__greyL) alpha(-80%));
  }

  &__date {
    display: inline-block;
    padding-right: calc(var(--baseline) * 1);
    position: relative;
    z-index: 2;

    font-size: 0.750rem;

    color: color(var(--color__greyL) alpha(-80%));

    background: white;

    cursor: pointer;
  }
}
  .sidebar-timestamp--selected {
    /**/

    &:before {
      border-color: var(--color__greyL);
    }

    & .sidebar-timestamp__date {
      color: var(--color__greyL);
    }
  }
