@import '../../variables.css';

.FilterBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__section {
    /**/
  }
    &__section--main {
      flex: 1;
      overflow: auto;
    }
}
